#install: apt-get install gsl
#before_install:
#        - sudo apt-get install gsl
language: cpp
before_install: pushd ..; wget http://ab-initio.mit.edu/nlopt/nlopt-2.4.2.tar.gz ; tar -zxvof nlopt-2.4.2.tar.gz; cd nlopt-2.4.2; ./configure --with-cxx; make; sudo make install; popd
install: git submodule init; git submodule update; libtoolize; aclocal -I m4 --install ; autoconf ; automake --add-missing
script: LDFLAGS=-L/usr/local/lib CPPFLAGS=-I/usr/local/include ./configure --enable-gtest --with-beta-optimize=together ; make ; make check

addons:
        apt:
                packages:
                        - gsl-bin
                        - libgsl0-dev
                        - libgsl0ldbl
